include LICENCE.*
include CHANGES.*
recursive-include src *.txt
recursive-include src *.xml
recursive-include src *.csv
include tests/*.py
recursive-include doc/html [a-zA-Z0-9]*.*
exclude MANIFEST.in
exclude .*
exclude doc/*
